<h1>SVG</h1>
<svg ff-root [styleSheet]="svgStyles.root">
  <svg ff-container [styleSheet]="svgStyles.container">
    <svg ff-container [styleSheet]="svgStyles.htmlContainer">
      <foreignObject ff-html>
        <div>This is some HTML</div>
      </foreignObject>
      <!-- <svg ff-block [styleSheet]="svgStyles.deepestContainer"></svg> -->
    </svg>
  </svg>
  <svg ff-container [styleSheet]="svgStyles.container">
    <svg ff-container [styleSheet]="svgStyles.emptyContainer"></svg>
    <svg ff-container [styleSheet]="svgStyles.emptyContainer"></svg>
  </svg>
</svg>

<h1>HTML</h1>

<div class="container">
  <!-- <div class="inner-container"><span>Test test test test</span></div> -->
  <div class="inner-container"></div>
</div>
<div class="container">
  <div class="inner-container"></div>
  <div class="inner-container"></div>
</div>
